* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
}
.attribution a {
  text-decoration: none;
  font-family: 15px;
  color: #000;
}
.attribution {
  font-size: 25px;
}
main {
  height: 100vh;
  width: 100%;
  /* border: solid #000 5px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
}
.box {
  /* border: solid #000 5px; */
  width: 20%;
  height: 430px;
}
.logo {
  /* border: solid #000 5px; */
  width: 100%;
  height: 20%;
}
.content {
  /* border: solid #000 5px; */
  width: 100%;
  height: 60%;
  margin: auto;
}
.button {
  /* border: solid #000 5px; */
  width: 100%;
  height: 20%;
}
.logo {
  position: relative;
}
svg {
  position: absolute;
  bottom: 20%;
  left: 10%;
}
.content {
  padding: 23px;
}
.content h1 {
  font-family: "Big Shoulders Display", cursive;
  padding: 0 0 0 25px;
}
.content p {
  font-family: "Lexend Deca", sans-serif;
  padding: 20px 0 0 25px;
  color: hsla(0, 0%, 100%, 0.75);
}
/* .button {
    padding: 20px;
} */
.button button {
  padding: 10px 23px;
  border-radius: 30px;
  margin: 10px 0 0 40px;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Lexend Deca", sans-serif;
  /* color: hsl(0, 0%, 95%); */
}

main .box:first-child {
  background-color: hsl(31, 77%, 52%);
  border-radius: 10px 0 0 10px;
}
main .box:first-child .button > button {
  color: hsl(31, 77%, 52%);
}
main .box:nth-child(2) {
  background-color: hsl(184, 100%, 22%);
}
main .box:nth-child(2) .button > button {
  color: hsl(184, 100%, 22%);
}
main .box:last-child {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 10px 10px 0;
}
main .box:last-child .button > button {
  color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
    height: 200vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    margin-top: 420px;
    font-size: 25px;
  }
  .box {
    width: 80%;
    height: 25%;
  }
  svg {
    left: 15%;
  }
  .content,
  .button {
    width: 80%;
    margin: auto;
  }
  .button button {
    margin-top: 10px;
  }
  main .box:first-child {
    border-radius: 10px 10px 0 0;
  }
  main .box:last-child {
    border-radius: 0 0 10px 10px;
  }
}
@media screen and (max-width: 500px) {
  main {
    font-size: 20px;
  }
  .content {
    padding: 0 0 0 5px;
  }
}
@media screen and (max-width: 375px) {
  main {
    margin-top: 200px;
    font-size: 15px;
  }
  .box {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content {
    width: 100%;
    height: 40%;
    padding-right: 30px;
  }
  .button {
    width: 100%;
  }
  svg {
    left: 10%;
  }
}
